body {
    margin: 0;
    padding: 0;
}

.Titulo {
    background-color: blue;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    letter-spacing: 2px;
}

.Titulo:hover {
    cursor: pointer;
}

.Buscador {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    margin-top: 30px;
}

.boton_buscar {
    background-color: rgb(3, 131, 190);
    color: white;
    font-weight: bold;
    border: 0px solid black;
    border-radius: 20px;
    height: 40px;
    width: 170px;
    font-size: 25px;
    -webkit-box-shadow: 10px 10px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 11px -5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 11px -5px rgba(0,0,0,0.75);
}

.boton_buscar:hover {
    -webkit-box-shadow: 10px 10px 0px -56px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 0px -56px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 0px -56px rgba(0,0,0,0.75);
    margin-top: 3px;
    cursor: pointer;
}

.box_buscar {
    margin-top: 3px;
    height: 30px;
    width: 220px;
    font-size: 20px;
    border : 4px solid rgb(3, 131, 190);
    border-radius: 25px;
    padding-left: 10px;
    outline: none;
}

.TipoLista {
    width: 70%;
    margin: auto;
}

.Lista {
    width: 70%;
    margin: auto;
    margin-top: 30px;
}

select {
    font-size: 20px;
    height: 40px;
    width: 190px;
}

.OpcionesL {
    background-color: #0563af;
    color: white;
    padding: 8px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

/* .OpcionesL select {
    display: none; 
} */

.SeleccionarTL {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Seperador {
    width: 80%;
    height: 5px;
    background-color: rgb(3, 131, 190);
    margin:auto;
    margin-top: 20px;
    border: 0px solid black;
    border-radius: 25px;
}

.renglon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    padding: 5px;
    font-size: 23px;
} 

.nombre {
    color: black;
    width: 50px;
}

.nombre:hover{
    cursor: pointer;
}

.simbolo {
    color: black;
    font-weight: bold;
    width: 50px;
}

.no_ato {
    color: black;
    width: 50px;
    text-align: center;
}

.titulolist {
    color: darkblue;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

h2 {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.ascdesc {
    background-color: #0563af;
    color: white;
    padding: 8px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.cuadro {
    background-color: darkblue;
    height: 270px;
    width: 250px;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
}

.cuadro:hover{
    cursor: pointer;
}

.num {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 40px;

}

.Letra {
    font-size: 140px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
}

.boton {
    color: darkblue;
}

.Nombre {
    text-align: center;
    font-size: 35px;
    margin-top:10px;
}