<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'css/buscar.css' %}" type="text/css" rel="stylesheet"/> <!-- {% static 'css/buscar.css' %} -->
    <title>Buscar Elemento</title>
</head>
<body>
    <div class="contenedor">
        <div class="Titulo" onclick="RegresarMain()">Tabla Periódica</div>
        <div class="Buscador">
            <input type="text" class="box_buscar" id="buscar_name" placeholder=" Nombre"/>
            <input type="text" class="box_buscar" id="buscar_simbolo" placeholder=" Simbolo"/>
            <button class="boton_buscar" id="boton_buscar" onclick="BuscarElemento()"> Buscar </button>
        </div>
        <!-- <div class="ContList"></div> -->
        <div class="Seperador"></div>
        <div class="ContList" id="ContList">
            <div class="TipoLista">
                <h2>Ordenar por: </h2>
                <div class="SeleccionarTL" id = "SeleccionarTL">
                    <select id="OpcionesL" class="OpcionesL" onchange="Lista()">
                        <option value="1">Numero Atomico</option>
                        <option value="2">Nombre</option>
                        <option value="3">Categoria</option>
                        <option value="4">Grupo</option>
                        <option value="5">Periodo</option>
                    </select>
                </div>
            </div>
        <div class="Lista" id="Lista"></div>
    </div>
    </div>
</body>
{% load static %}
<script src="{% static '/scripts/buscar.js' %}"></script>  <!-- {% static '/scripts/buscar.js' %} -->
</html>