<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static '/css/index_styles.css' %}" type="text/css" rel="stylesheet"/>
    <title>Tabla Periodica</title>
</head>
<body>
    <div class="contenedor">
        <div class="Titulo">Tabla Periodica</div>
        <div class="Tablaperiodica">
            <div class="imagen" id="imagen">
                <div class="contenedorimg">
                    <div class="imagenh" id="imagenh">

                    </div>
                </div>
            </div>
            <div class="catergorias">
                <div class="contcategorias" id="contcategorias">
                    <div class="GasesNoblesc" id="GasesNoblesc"></div>
                    <div class="Metalesdetransiciónc" id="Metalesdetransiciónc"></div>
                    <div class="Halógenosc" id="Halógenosc"></div>
                    <div class="Alcalinotérreosc" id="Alcalinotérreosc"></div>
                    <div class="NoMetalesc" id="NoMetalesc"></div>
                    <div class="MetalesAlcalinosc" id="MetalesAlcalinosc"></div>
                    <div class="Metaloidesc" id="Metaloidesc"></div>
                    <div class="Lantanidosc" id="Lantanidosc"></div>
                    <div class="Metalesc" id="Metalesc"></div>
                    <div class="Actinidoc" id="Actinidoc"></div>
                </div>
            </div>
            <div class="Hidrogeno" id="Hidrogeno" onmouseover="imagen('Hidrogeno')" onclick="plantilla('Hidrogeno')"></div>
            <div class="Helio" id="Helio" onmouseover="imagen('Helio')" onclick="plantilla('Helio')"></div>
            <div class="Litio" id="Litio" onmouseover="imagen('Litio')" onclick="plantilla('Litio')"></div>
            <div class="Berilio" id="Berilio" onmouseover="imagen('Berilio')" onclick="plantilla('Berilio')"></div>
            <div class="Boro" id="Boro" onmouseover="imagen('Boro')" onclick="plantilla('Boro')"></div>
            <div class="Carbono" id="Carbono" onmouseover="imagen('Carbono')" onclick="plantilla('Carbono')"></div>
            <div class="Nitrogeno" id="Nitrogeno" onmouseover="imagen('Nitrogeno')" onclick="plantilla('Nitrogeno')"></div>
            <div class="Oxigeno" id="Oxigeno" onmouseover="imagen('Oxigeno')" onclick="plantilla('Oxigeno')"></div>
            <div class="Fluor" id="Fluor" onmouseover="imagen('Fluor')" onclick="plantilla('Fluor')"></div>
            <div class="Neon" id="Neon" onmouseover="imagen('Neon')" onclick="plantilla('Neon')"></div>
            <div class="Sodio" id="Sodio" onmouseover="imagen('Sodio')" onclick="plantilla('Sodio')"></div>
            <div class="Magnesio" id="Magnesio" onmouseover="imagen('Magnesio')" onclick="plantilla('Magnesio')"></div>
            <div class="Aluminio" id="Aluminio" onmouseover="imagen('Aluminio')" onclick="plantilla('Aluminio')"></div>
            <div class="Silicio" id="Silicio" onmouseover="imagen('Silicio')" onclick="plantilla('Silicio')"></div>
            <div class="Fosforo" id="Fosforo" onmouseover="imagen('Fosforo')" onclick="plantilla('Fosforo')"></div>
            <div class="Azufre" id="Azufre" onmouseover="imagen('Azufre')" onclick="plantilla('Azufre')"></div>
            <div class="Cloro" id="Cloro" onmouseover="imagen('Cloro')" onclick="plantilla('Cloro')"></div>
            <div class="Argon" id="Argon" onmouseover="imagen('Argon')" onclick="plantilla('Argon')"></div>
            <div class="Potasio" id="Potasio" onmouseover="imagen('Potasio')" onclick="plantilla('Potasio')"></div>
            <div class="Calcio" id="Calcio" onmouseover="imagen('Calcio')" onclick="plantilla('Calcio')"></div>
            <div class="Escandio" id="Escandio" onmouseover="imagen('Escandio')" onclick="plantilla('Escandio')"></div>
            <div class="Titanio" id="Titanio" onmouseover="imagen('Titanio')" onclick="plantilla('Titanio')"></div>
            <div class="Vanadio" id="Vanadio" onmouseover="imagen('Vanadio')" onclick="plantilla('Vanadio')"></div>
            <div class="Cromo" id="Cromo" onmouseover="imagen('Cromo')" onclick="plantilla('Cromo')"></div>
            <div class="Manganeso" id="Manganeso" onmouseover="imagen('Manganeso')" onclick="plantilla('Manganeso')"></div>
            <div class="Hierro" id="Hierro" onmouseover="imagen('Hierro')" onclick="plantilla('Hierro')"></div>
            <div class="Cobalto" id="Cobalto" onmouseover="imagen('Cobalto')" onclick="plantilla('Cobalto')"></div>
            <div class="Niquel" id="Niquel" onmouseover="imagen('Niquel')" onclick="plantilla('Niquel')"></div>
            <div class="Cobre" id="Cobre" onmouseover="imagen('Cobre')" onclick="plantilla('Cobre')"></div>
            <div class="Zinc" id="Zinc" onmouseover="imagen('Zinc')" onclick="plantilla('Zinc')"></div>
            <div class="Galio" id="Galio" onmouseover="imagen('Galio')" onclick="plantilla('Galio')"></div>
            <div class="Germanio" id="Germanio" onmouseover="imagen('Germanio')" onclick="plantilla('Germanio')"></div>
            <div class="Arsenico" id="Arsenico" onmouseover="imagen('Arsenico')" onclick="plantilla('Arsenico')"></div>
            <div class="Selenio" id="Selenio" onmouseover="imagen('Selenio')" onclick="plantilla('Selenio')"></div>
            <div class="Bromo" id="Bromo" onmouseover="imagen('Bromo')" onclick="plantilla('Bromo')"></div>
            <div class="Kriptón" id="Kriptón" onmouseover="imagen('Kriptón')" onclick="plantilla('Kriptón')"></div>
            <div class="Rubidio" id="Rubidio" onmouseover="imagen('Rubidio')" onclick="plantilla('Rubidio')"></div>
            <div class="Estroncio" id="Estroncio" onmouseover="imagen('Estroncio')" onclick="plantilla('Estroncio')"></div>
            <div class="Itrio" id="Itrio" onmouseover="imagen('Itrio')" onclick="plantilla('Itrio')"></div>
            <div class="Zirconio" id="Zirconio" onmouseover="imagen('Zirconio')" onclick="plantilla('Zirconio')"></div>
            <div class="Niobio" id="Niobio" onmouseover="imagen('Niobio')" onclick="plantilla('Niobio')"></div>
            <div class="Molibdeno" id="Molibdeno" onmouseover="imagen('Molibdeno')" onclick="plantilla('Molibdeno')"></div>
            <div class="Tecnecio" id="Tecnecio" onmouseover="imagen('Tecnecio')" onclick="plantilla('Tecnecio')"></div>
            <div class="Rutenio" id="Rutenio" onmouseover="imagen('Rutenio')" onclick="plantilla('Rutenio')"></div>
            <div class="Rodio" id="Rodio" onmouseover="imagen('Rodio')" onclick="plantilla('Rodio')"></div>
            <div class="Paladio" id="Paladio" onmouseover="imagen('Paladio')" onclick="plantilla('Paladio')"></div>
            <div class="Plata" id="Plata" onmouseover="imagen('Plata')" onclick="plantilla('Plata')"></div>
            <div class="Cadmio" id="Cadmio" onmouseover="imagen('Cadmio')" onclick="plantilla('Cadmio')"></div>
            <div class="Indio" id="Indio" onmouseover="imagen('Indio')" onclick="plantilla('Indio')"></div>
            <div class="Estaño" id="Estaño" onmouseover="imagen('Estaño')" onclick="plantilla('Estaño')"></div>
            <div class="Antimonio" id="Antimonio" onmouseover="imagen('Antimonio')" onclick="plantilla('Antimonio')"></div>
            <div class="Teluro" id="Teluro" onmouseover="imagen('Teluro')" onclick="plantilla('Teluro')"></div>
            <div class="Yodo" id="Yodo" onmouseover="imagen('Yodo')" onclick="plantilla('Yodo')"></div>
            <div class="Xenón" id="Xenón" onmouseover="imagen('Xenón')" onclick="plantilla('Xenón')"></div>
            <div class="Cesio" id="Cesio" onmouseover="imagen('Cesio')" onclick="plantilla('Cesio')"></div>
            <div class="Bario" id="Bario" onmouseover="imagen('Bario')" onclick="plantilla('Bario')"></div>
            <div class="Latano" id="Latano" onmouseover="imagen('Latano')" onclick="plantilla('Latano')"></div>
            <div class="Cerio" id="Cerio" onmouseover="imagen('Cerio')" onclick="plantilla('Cerio')"></div>
            <div class="Praseodimio" id="Praseodimio" onmouseover="imagen('Praseodimio')" onclick="plantilla('Praseodimio')"></div>
            <div class="Neodimio" id="Neodimio" onmouseover="imagen('Neodimio')" onclick="plantilla('Neodimio')"></div>
            <div class="Prometio" id="Prometio" onmouseover="imagen('Prometio')" onclick="plantilla('Prometio')"></div>
            <div class="Samario" id="Samario" onmouseover="imagen('Samario')" onclick="plantilla('Samario')"></div>
            <div class="Europio" id="Europio" onmouseover="imagen('Europio')" onclick="plantilla('Europio')"></div>
            <div class="Gadolinio" id="Gadolinio" onmouseover="imagen('Gadolinio')" onclick="plantilla('Gadolinio')"></div>
            <div class="Terbio" id="Terbio" onmouseover="imagen('Terbio')" onclick="plantilla('Terbio')"></div>
            <div class="Disprocio" id="Disprocio" onmouseover="imagen('Disprocio')" onclick="plantilla('Disprocio')"></div>
            <div class="Holmio" id="Holmio" onmouseover="imagen('Holmio')" onclick="plantilla('Holmio')"></div>
            <div class="Erbio" id="Erbio" onmouseover="imagen('Erbio')" onclick="plantilla('Erbio')"></div>
            <div class="Tulio" id="Tulio" onmouseover="imagen('Tulio')" onclick="plantilla('Tulio')"></div>
            <div class="Iterbio" id="Iterbio" onmouseover="imagen('Iterbio')" onclick="plantilla('Iterbio')"></div>
            <div class="Lutecio" id="Lutecio" onmouseover="imagen('Lutecio')" onclick="plantilla('Lutecio')"></div>
            <div class="Hafnio" id="Hafnio" onmouseover="imagen('Hafnio')" onclick="plantilla('Hafnio')"></div>
            <div class="Tantalio" id="Tantalio" onmouseover="imagen('Tantalio')" onclick="plantilla('Tantalio')"></div>
            <div class="Volframio" id="Volframio" onmouseover="imagen('Volframio')" onclick="plantilla('Volframio')"></div>
            <div class="Renio" id="Renio" onmouseover="imagen('Renio')" onclick="plantilla('Renio')"></div>
            <div class="Osmio" id="Osmio" onmouseover="imagen('Osmio')" onclick="plantilla('Osmio')"></div>
            <div class="Iridio" id="Iridio" onmouseover="imagen('Iridio')" onclick="plantilla('Iridio')"></div>
            <div class="Platino" id="Platino" onmouseover="imagen('Platino')" onclick="plantilla('Platino')"></div>
            <div class="Oro" id="Oro" onmouseover="imagen('Oro')" onclick="plantilla('Oro')"></div>
            <div class="Mercurio" id="Mercurio" onmouseover="imagen('Mercurio')" onclick="plantilla('Mercurio')"></div>
            <div class="Talio" id="Talio" onmouseover="imagen('Talio')" onclick="plantilla('Talio')"></div>
            <div class="Plomo" id="Plomo" onmouseover="imagen('Plomo')" onclick="plantilla('Plomo')"></div>
            <div class="Bismuto" id="Bismuto" onmouseover="imagen('Bismuto')" onclick="plantilla('Bismuto')"></div>
            <div class="Polonio" id="Polonio" onmouseover="imagen('Polonio')" onclick="plantilla('Polonio')"></div>
            <div class="Astato" id="Astato" onmouseover="imagen('Astato')" onclick="plantilla('Astato')"></div>
            <div class="Radón" id="Radón" onmouseover="imagen('Radón')" onclick="plantilla('Radón')"></div>
            <div class="Francio" id="Francio" onmouseover="imagen('Francio')" onclick="plantilla('Francio')"></div>
            <div class="Radio" id="Radio" onmouseover="imagen('Radio')" onclick="plantilla('Radio')"></div>
            <div class="Actinio" id="Actinio" onmouseover="imagen('Actinio')" onclick="plantilla('Actinio')"></div>
            <div class="Torio" id="Torio" onmouseover="imagen('Torio')" onclick="plantilla('Torio')"></div>
            <div class="Protactinio" id="Protactinio" onmouseover="imagen('Protactinio')" onclick="plantilla('Protactinio')"></div>
            <div class="Uranio" id="Uranio" onmouseover="imagen('Uranio')" onclick="plantilla('Uranio')"></div>
            <div class="Neptunio" id="Neptunio" onmouseover="imagen('Neptunio')" onclick="plantilla('Neptunio')"></div>
            <div class="Plutonio" id="Plutonio" onmouseover="imagen('Plutonio')" onclick="plantilla('Plutonio')"></div>
            <div class="Americio" id="Americio" onmouseover="imagen('Americio')" onclick="plantilla('Americio')"></div>
            <div class="Curio" id="Curio" onmouseover="imagen('Curio')" onclick="plantilla('Curio')"></div>
            <div class="Berquelio" id="Berquelio" onmouseover="imagen('Berquelio')" onclick="plantilla('Berquelio')"></div>
            <div class="Californio" id="Californio" onmouseover="imagen('Californio')" onclick="plantilla('Californio')"></div>
            <div class="Einstenio" id="Einstenio" onmouseover="imagen('Einstenio')" onclick="plantilla('Einstenio')"></div>
            <div class="Fermio" id="Fermio" onmouseover="imagen('Fermio')" onclick="plantilla('Fermio')"></div>
            <div class="Mendelevio" id="Mendelevio" onmouseover="imagen('Mendelevio')" onclick="plantilla('Mendelevio')"></div>
            <div class="Nobelio" id="Nobelio" onmouseover="imagen('Nobelio')" onclick="plantilla('Nobelio')"></div>
            <div class="Laurencio" id="Laurencio" onmouseover="imagen('Laurencio')" onclick="plantilla('Laurencio')"></div>
            <div class="Rutherfordio" id="Rutherfordio" onmouseover="imagen('Rutherfordio')" onclick="plantilla('Rutherfordio')"></div>
            <div class="Dubnio" id="Dubnio" onmouseover="imagen('Dubnio')" onclick="plantilla('Dubnio')"></div>
            <div class="Seaborgio" id="Seaborgio" onmouseover="imagen('Seaborgio')" onclick="plantilla('Seaborgio')"></div>
            <div class="Bohrio" id="Bohrio" onmouseover="imagen('Bohrio')" onclick="plantilla('Bohrio')"></div>
            <div class="Hassio" id="Hassio" onmouseover="imagen('Hassio')" onclick="plantilla('Hassio')"></div>
            <div class="Meitnerio" id="Meitnerio" onmouseover="imagen('Meitnerio')" onclick="plantilla('Meitnerio')"></div>
            <div class="Darmstatio" id="Darmstatio" onmouseover="imagen('Darmstatio')" onclick="plantilla('Darmstatio')"></div>
            <div class="Roentgenio" id="Roentgenio" onmouseover="imagen('Roentgenio')" onclick="plantilla('Roentgenio')"></div>
            <div class="Copernicio" id="Copernicio" onmouseover="imagen('Copernicio')" onclick="plantilla('Copernicio')"></div>
            <div class="Nihonio" id="Nihonio" onmouseover="imagen('Nihonio')" onclick="plantilla('Nihonio')"></div>
            <div class="Flerevio" id="Flerevio" onmouseover="imagen('Flerevio')" onclick="plantilla('Flerevio')"></div>
            <div class="Moscovio" id="Moscovio" onmouseover="imagen('Moscovio')" onclick="plantilla('Moscovio')"></div>
            <div class="Livermorio" id="Livermorio" onmouseover="imagen('Livermorio')" onclick="plantilla('Livermorio')"></div>
            <div class="Teneso" id="Teneso" onmouseover="imagen('Teneso')" onclick="plantilla('Teneso')"></div>
            <div class="Oganesón" id="Oganesón" onmouseover="imagen('Oganesón')" onclick="plantilla('Oganesón')"></div>


        </div>
        <div class="buscador">
            <div class="botonb" id="botonb">Buscar Elemento</div>
        </div>
    </div>
</body>
{% load static %}
<script src="{% static '/scripts/index_script.js' %}"></script>
</html>